@font-face {
    font-family: fontText;
    src: url("/src/assets/Fonts/IranSans.TTF") format('truetype');
}
@font-face {
    font-family: fontTitr;
    src: url("/src/assets/Fonts/IranSans.TTF") format('truetype');
}
