@use "varibles.scss" as *;
@use "fonts.scss" as *;

.myContainer{
  position: relative;
  @media screen {
    max-width: 758px;
  }
}
.bgNavbar{
  background-color: #b9dee9;
  opacity: 0.7;
}
.fontText{
    font-family: fontText;
}
.fontTitr{
    font-family: fontTitr;
}
#listSheet li{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  :hover{
    opacity: 0.7;
  }
}
